@media (min-width: 768px) {
  #searchPage #search > ul > li.search-result > div.pull-right > button.btn.btn-donate {
    column-gap: 4px;
    align-items: center;
    > span.copy {
      font-size: 15px; // 16 is just too big for monsteratt
    }
    > span.icon {
      height: unset !important;
      margin: 0px !important;
      padding: 0px 0px 3px 0px !important;
      svg {
        vertical-align: middle;
        margin: 0px !important;
        padding: 0px !important;        
      }
    }
  }  
}